@charset "utf-8";
.container header {
    background-color: #FF1E1E;
}
.container header nav {
    background-color: #FF1317;
}
.container #hero {
    background-image: url(images/%E8%83%8C%E6%99%AF2.jpg);
}
.container #about {
    background-image: -webkit-linear-gradient(270deg,rgba(151,224,255,1.00) 0%,rgba(255,255,255,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(151,224,255,1.00) 0%,rgba(255,255,255,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(151,224,255,1.00) 0%,rgba(255,255,255,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(151,224,255,1.00) 0%,rgba(255,255,255,1.00) 100%);
}
.container .banner {
    background-image: url(images/%E8%83%8C%E6%99%AF2.jpg);
}
.container #contact {
    background-image: url(images/%E8%83%8C%E6%99%AF2.jpg);
}
.container .copyright {
    background-color: #FF2226;
}
